body {
	background-color: #ADD8E6;
	font: 1em Helvetica;
}

#container {
	width: 840px;
	margin: 25px auto;
	margin-top: 50px;
}

.whysign {
	float: left;
	background-color: #002D62;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	width: 480px;
	height: 543.5px;
	border-radius: 0 5px 5px 0;
	padding-top: 20px;
	padding-right: 20px;
}

.whysignLogin {
	float: left;
	background-color: #002D62;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	width: 480px;
	height: 347px;
	border-radius: 0 5px 5px 0;
	padding-top: 20px;
	padding-right: 20px;
}

.whyforgotPassword {
	float: left;
	background-color: #002D62;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	width: 480px;
	height: 446px;
	border-radius: 0 5px 5px 0;
	padding-top: 20px;
	padding-right: 20px;
}

.signup {
	float: left;
	width: 300px;
	padding: 30px 20px;
	background-color: white;
	text-align: center;
	border-radius: 5px 0 0 5px;
	padding-bottom: 45px;
}

.loginpara {
	padding-left: 70px;
	font-size: 25px;
}

[type=text], [type=email], [type=number], [type=password], select,
	option {
	display: block;
	margin: 0 auto;
	width: 90%;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	height: 37px;
	line-height: 40px;
	margin-bottom: 10px;
	font-size: 1em;
	color: black;
	font-family: monospace;
	font-size: 22px;
}

[type=submit] {
	margin-top: 30px;
	width: 80%;
	border: 0;
	background-color: #ADD8E6;
	border-radius: 5px;
	height: 50px;
	color: #13274F;
	font-weight: 400;
	font-size: 1.2em;
}

[type=submit]:hover {
	cursor: pointer;
}

[type='text']:focus {
	outline: none;
	border-color: #53CACE;
}

h1 {
	color: red;
	font-weight: 900;
	font-size: 2.5em;
}

p {
	color: silver;
	font-size: 1.4em;
	margin: 50px 0 50px 0;
	line-height: 40px;
	padding-left: 30px;
	color: silver;
}

span {
	font-size: .75em;
	background-color: white;
	padding: 2px 5px;
	color: rgba(0, 0, 0, .6);
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	margin: 5px;
}

span:hover {
	color: #53CACE;
}

p:nth-of-type(2) {
	font-size: 1em;
}

h3 {
	font-family: monospace;
	font-size: 70px;
	margin-left: 100px;
	margin-top: 50px;
	color: #e5e4e2;
}

h2 {
	font-family: monospace;
	font-size: 20px;
	margin-top: 37.5px;
	line-height: 10px;
}